.cell-title {
  font-size: 25px;
}

.pre-background {
  background-color: lightslategray;
  font-weight: 700;
}

.color-white {
  color: white !important;
}

.int1-background {
  background-color: lightblue;
  font-weight: 700;
}

.int2-background {
  background-color: lightsalmon;
  font-weight: 700;
}

.int3-background {
  background-color: lightyellow;
  font-weight: 700;
}
